{% extends 'base.html.twig' %}

{% block title %}Ajout d'un Commentaire{% endblock %}

{% block body %}

<div class="container-lg mt-3">
    <div class="col-md-8 p-5 section mx-auto my-4">
        <h1>{{ meeting.title }}</h1>
				<h2>Ajouter un Commentaire</h2>

        {{ form_start(formComment, { attr : { 'class': 'mt-4' } }) }}
					<div class="form-group col-md">
						{{ form_label(formComment.content, 'Contenu du commentaire') }}
						{{ form_widget(formComment.content) }}
					</div>

					<button class="btn btn-primary mt-4">Ajouter</button>
				{{ form_end(formComment) }}
    </div>
</div>
	
{% endblock %}