{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %} 
	<div class="container-md">
		<div class="row">
			<div class="col-md-12 section mt-5">
					<h1 class="mt-3 mb-3">Ajouter une journée découverte</h1>

					{{ form_start(formMeeting) }}
						{{ form_widget(formMeeting.id) }}
					
						<div class="form-group col-md mt-3">
							{{ form_label(formMeeting.title, 'Titre') }}
							{{ form_widget(formMeeting.title, {attr : {placeholder: 'Saisissez un titre'}}) }}
						</div>

						<div class="form-group col-md-5 mt-3">
							{{ form_label(formMeeting.date, 'Date de début') }}
							{{ form_widget(formMeeting.date) }}
						</div>
		
						<div class="form-group col-md mt-3">
							{{ form_label(formMeeting.location, 'Lieu de la Journée Découverte') }}
							{{ form_widget(formMeeting.location, {attr : {placeholder: 'Saisissez un lieu'}}) }}
						</div>

						<div id="map"></div>

						<div class="form-group col-md mt-3">
							{{ form_label(formMeeting.level, 'Niveau') }}
							{{ form_widget(formMeeting.level) }}
						</div>
			
						<div class="form-group col-md mt-3">
								{{ form_label(formMeeting.limit_climber, 'Nombre maximum de participant') }}
								{{ form_widget(formMeeting.limit_climber, {attr : {placeholder: '0', min : 0}}) }}
						</div>

						<div class="form-group col-md mt-3">
								{{ form_label(formMeeting.description, 'Description') }}
								{{ form_widget(formMeeting.description, {attr : {placeholder: 'Saisissez une description'}}) }}
						</div>
			
						<div class="form-group col-md mt-3">
							{{ form_label(formMeeting.picture, 'Image') }}
							{{ form_widget(formMeeting.picture) }}
						</div>

						<button class="btn btn-success mt-3" type="submit">Enregistrer</button>
					{{ form_end(formMeeting) }}
			</div>
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
	<script>
		var map = L.map('map').setView([48.862725, 2.287592], 13);
		let marker = null;

		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
				attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
				maxZoom: 18,
				id: 'mapbox/streets-v11',
				tileSize: 512,
				zoomOffset: -1,
				accessToken: 'pk.eyJ1IjoibWF1cmljZTM4IiwiYSI6ImNrd2tzNThpdjBtaDIycHBkajdzNm16Y28ifQ.lW3YvxlsIi497Drh9-_F9g'
		}).addTo(map);

		$("#meeting_location").on("keyup", function() {
			let location = $(this).val().trim();

			if(location.length > 0) {
				location = location.replace(' ', '+');

				$.ajax({
					type: 'GET',
					url: 'https://api-adresse.data.gouv.fr/search/?q=' + location,
					dataType: 'json',
					success: function(res) {
						if(res.features[0] != undefined) {
							const coordinates = [res.features[0].geometry.coordinates[1], res.features[0].geometry.coordinates[0]];

							if(marker != null) {
								map.removeLayer(marker);
							}

							map.panTo(coordinates);
							marker = L.marker(coordinates).addTo(map);
						}
					}
				});
			}
		});
	</script>
{% endblock %}