{% extends 'base.html.twig' %}

{% block title %}Détails d'une journée découverte{% endblock %}

{% block body %}
	<div class="container-md">
		<div class="row mt-5">
			<div class="col-md-2">
				<a class="btn btn-primary" href="{{url('meeting.index')}}" role="button">Retour</a>
			</div>
		</div>

		<div class="section my-4">
			<div class="row mt-3">
				<div class="col-md-4">
						<h1>{{ meeting.title }}</h1>
						<p>Journée découverte proposé par {{ meeting.climber.lastname }} {{ meeting.climber.firstname }}</p>
						<h4>Le {{ meeting.date | date("d/m/Y") }}</h4>
						<h5>à {{ meeting.date | date("H:i") }}</h5>
						{% set remainingPlaces = meeting.LimitClimber - meeting.climberMeetings|length %}
						<p>Nombre de places restantes: {{ remainingPlaces }} / {{ meeting.LimitClimber }}</p>
				</div>
				<div class="col-md-4">
					<img src="../icons/{{ meeting.level.name | lower }}.png" alt="" height="75" />
				</div>

				<div class="col-md-4">
					{% if isFile("\img\\" ~ meeting.picture) %}
						<img class="card-img-top"
							src="{{ asset("img/" ~ meeting.picture) }}"
							alt="Card image cap"
							style="object-fit: cover"
							height='250'
						/>
					{% else %}
						<img class="card-img-top"
							src="{{ meeting.picture }}"
							alt="Card image cap"
							style="object-fit: cover"
							height='250'
						/>
					{% endif %}
				</div>
			</div>

			<div class="row mt-1">
					<h2>Description</h2>
					<p>{{ meeting.description }}</p>
			</div>

			{% if app.user.email is defined %}
				{% if not isRegistered and date('now') < date(meeting.date) %}
					<div class="row mt-1">
						<div class="col-md-1">
							<a class="btn btn-success" href="{{url('climber.participate', { id: meeting.id} )}}">S'inscrire</a>
						</div>
					</div>
				{% endif %}
			{% endif %}
		</div>

		{% set isOrganiser = false %}

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% if (app.user.email == meeting.climber.email) and (date(meeting.date) < date('now')) %}
				{% set isOrganiser = true %}
			{% endif %}
		{% endif %}

		{% if isOrganiser %}
			<div class="section mb-4">
				<h2>Liste des participants</h2>
					<ul class="list-group list-group-flush mt-2 striped">
					{% for climberMeeting in meeting.climberMeetings %}
					{% set level = climberMeeting.climber.roles[0] | split('_') %}

					<li class="list-group-item d-flex flex-row align-items-center">
							<span class="col-md-6 fw-bold">{{ climberMeeting.climber.firstname }} {{ climberMeeting.climber.lastname }}</span>

							{% if climberMeeting.HasParticipated == false %}
								<span class="col-md text-center"><a class="btn btn-info" href="{{ url('climber.hasParticipated', {id: meeting.id, id_climber: climberMeeting.climber.id}) }}">Présent</a></span>
							{% else %}
								<span class="col-md text-center"><a class="btn btn-danger" href="{{ url('climber.hasParticipatedCancel', {id: meeting.id, id_climber: climberMeeting.climber.id}) }}">Annuler</a></span>
							{% endif %}

							<span class="col-md text-end"><img src="../icons/{{ level[1] | lower }}.png" alt="" height="35"/></span>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			{% if meeting.climberMeetings|length > 0 %}
				<div class="section mb-4">
					<h2>Liste des participants</h2>
						<ul class="list-group list-group-flush mt-2 striped">
						{% for climberMeeting in meeting.climberMeetings %}
							{% set level = climberMeeting.climber.roles[0] | split('_') %}

							<li class="list-group-item d-flex flex-row align-items-center">
								<span class="col-md fw-bold">{{ climberMeeting.climber.firstname }} {{ climberMeeting.climber.lastname }}</span>
								<span class="col-md text-center">{{ climberMeeting.climber.email }}</span>
								<span class="col-md text-end"><img src="../icons/{{ level[1] | lower }}.png" alt="" height="35"/></span>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}	
		{% endif %}

		{% if meeting.date < date('now') %}
			<div class="section mb-4">
				<h2>Commentaires</h2>

				{% if isRegistered %}
					{{ form_start(formComment, { attr : { 'class': 'mt-4' } }) }}
						<div class="form-group col-md">
							{{ form_label(formComment.content, 'Contenu du commentaire') }}
							{{ form_widget(formComment.content) }}
						</div>

						<button class="btn btn-primary mt-4">Ajouter</button>
					{{ form_end(formComment) }}
				{% endif %}
				
				{% if meeting.comments|length > 0 %}
					{% if isRegistered %}
						<hr class="solid mb-0">
					{% endif %}

					<ul class="list-group list-group-flush">
						{% for comment in meeting.comments %}
							<li class="list-group-item mt-2">
								<div>
									<div class="d-flex flex-row flex-warp justify-content-between align-items-center">
										<h3>{{ comment.climber.firstname }} {{ comment.climber.lastname }}</h3>
										<p class="mb-0">{{ comment.date|date("d/m/Y H:i:s") }}</p>
									</div>

									<p>{{ comment.content }}</p>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>Il n'y a aucun commentaire pour le moment.</p>
				{% endif %}
			</div>
		{% endif %}

		{# <hr class="solid"> #}
		
	</div>
	
{% endblock %}