{% extends 'base.html.twig' %}

{% block title %}Détails d'une journée découverte{% endblock %}

{% block body %}
	<div class="container-md">
		<div class="row mt-5">
			<div class="col-md-2">
				<a class="btn btn-primary" href="{{url('meeting.index')}}" role="button">Retour</a>
			</div>
		</div>

		<div class="section mt-4">
			<div class="row mt-3">
				<div class="col-md-4">
						<h1>{{ meeting.title }}</h1>
						<p>Journée découverte proposé par {{ meeting.climber.lastname }} {{ meeting.climber.firstname }}</p>
						<h4>Le {{ meeting.date | date("d/m/Y") }}</h4>
						<h5>à {{ meeting.date | date("H:i") }}</h5>
				</div>
				<div class="col-md-4">
					<img src="../icons/{{ meeting.level.name | lower }}.png" alt="" height="75" />
				</div>

				<div class="col-md-4">
					<img class="card-img-top"
							src="{{ meeting.picture }}"
							alt="Card image cap"
							style="object-fit: contain"
							height='250'
					/>
				</div>
			</div>

			<div class="row mt-1">
					<h2>Description</h2>
					<p>{{ meeting.description }}</p>
			</div>

			<div class="row mt-1">
				<div class="col-md-1">
					<a class="btn btn-success" href="{{url('climber.participate', { id: meeting.id} )}}">S'inscrire</a>
				</div>
			</div>
		</div>

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% if (app.user.email == meeting.climber.email) and (meeting.date < date('now')) %}
				<div class="section my-4">
					<h2>Liste des participants</h2>
						<ul class="list-group list-group-flush mt-2 striped">
						{% for climberMeeting in meeting.climberMeetings %}
						{% set level = climberMeeting.climber.roles[0] | split('_') %}

						<li class="list-group-item d-flex flex-row align-items-center">
                <span class="col-md-6 fw-bold"><a href="{{ url('meeting.detail', {id: climberMeeting.meeting.id}) }}">{{ climberMeeting.climber.firstname }} {{ climberMeeting.climber.lastname }}</a></span>

								{% if climberMeeting.HasParticipated == false %}
									<span class="col-md text-center"><a class="btn btn-info" href="{{ url('climber.hasParticipated', {id: meeting.id, id_climber: climberMeeting.climber.id}) }}">Présent</a></span>
								{% else %}
									<span class="col-md text-center"><a class="btn btn-danger" href="{{ url('climber.hasParticipatedCancel', {id: meeting.id, id_climber: climberMeeting.climber.id}) }}">Annuler</a></span>
								{% endif %}

                <span class="col-md text-end"><img src="../icons/{{ level[1] | lower }}.png" alt="" height="35"/></span>
              </li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}

		<div class="section my-4">
			<h2>Commentaires</h2>

			<ul class="list-group list-group-flush mt-2">
				<li class="list-group-item">
					<div>
						<h3>Jean-Marie</h3>
						<p>12/11/2021 09:15:03</p>

						<p>Je suis un commentaire</p>
					</div>
				</li>
				
				<li class="list-group-item">
					<div>
						<h3>Jean-Marie</h3>
						<p>12/11/2021 09:15:03</p>

						<p>Je suis un commentaire</p>
					</div>
				</li>

				<li class="list-group-item">
					<div>
						<h3>Jean-Marie</h3>
						<p>12/11/2021 09:15:03</p>

						<p>Je suis un commentaire</p>
					</div>
				</li>
			</ul>
		</div>

		{# <hr class="solid"> #}
		
	</div>
	
{% endblock %}