{% extends 'base.html.twig' %}

{% block title %}Détails d'une journée découverte{% endblock %}

{% block body %}

	{% set isOrganiser = false %}

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{% if (app.user.email == meeting.climber.email) %}
			{% set isOrganiser = true %}
		{% endif %}
	{% endif %}

	<div class="container-md">
		<div class="row mt-5">
			<div class="col-md-2">
				<a class="btn btn-primary" href="{{url('meeting.index')}}" role="button">Retour</a>
			</div>
		</div>

		<div class="section my-4">
			<div class="row mt-3">
				<div class="col-md-4">
						<h1>{{ meeting.title }}</h1>
						<p>Journée découverte organisée par {{ meeting.climber.lastname }} {{ meeting.climber.firstname }}</p>
						{% set remainingPlaces = meeting.LimitClimber - meeting.climberMeetings|length %}
						<p>Nombre de places restantes: {{ remainingPlaces }} / {{ meeting.LimitClimber }}</p>
				</div>
				
				<div class="col-md-4">
					<img src="../icons/{{ meeting.level.name | lower }}.png" alt="" height="75" />
				</div>

				<div class="col-md-4">
					{% if isFile("\img\\" ~ meeting.picture) %}
						<img class="card-img-top"
							src="{{ asset("img/" ~ meeting.picture) }}"
							alt="Card image cap"
							style="object-fit: cover"
							height='250'
						/>
					{% else %}
						<img class="card-img-top"
							src="{{ meeting.picture }}"
							alt="Card image cap"
							style="object-fit: cover"
							height='250'
						/>
					{% endif %}
				</div>
			</div>

			<div class="row mt-1">
					<h2>Description de la Journée Découverte</h2>

					<div class="ms-3">
						<p><strong>Localisation:</strong> {{ meeting.location }}</p>
						<p><strong>Date et Heure:</strong> {{ meeting.date|date("d/m/Y à H:i") }}</p>

						<p>{{ meeting.description }}</p>
					</div>
			</div>

			<div class="row mt-1">
					<div id="map"></div>
			</div>

			{% if app.user.email is defined %}
				{% if not isRegistered and date('now') < date(meeting.date) %}
					<div class="row mt-1">
						<div class="col-md-1">
							<a class="btn btn-success" href="{{url('climber.participate', { id: meeting.id} )}}">S'inscrire</a>
						</div>
						{% if isOrganiser %}
						<div class="col-md-1">
							<a class="btn btn-primary" href="{{url('meeting.update', { id: meeting.id} )}}">Modifier</a>
						</div>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
		</div>

		<div class="section mb-4">
			<h2>Liste des participants</h2>
				{% if meeting.climberMeetings|length > 0 %}
					<ul class="list-group list-group-flush mt-2 striped">
						{% for climberMeeting in meeting.climberMeetings %}
							{% set level = climberMeeting.climber.roles[0] | split('_') %}

							<li class="list-group-item d-flex flex-row align-items-center">
								<span class="col-md-6 fw-bold">{{ climberMeeting.climber.firstname }} {{ climberMeeting.climber.lastname }}</span>

								{% if isOrganiser and (date(meeting.date) < date('now')) %}
									{% if climberMeeting.HasParticipated == false %}
										<span class="col-md text-center"><a class="btn btn-info" href="{{ url('climber.hasParticipated', {id: meeting.id, id_climber: climberMeeting.climber.id}) }}">Présent</a></span>
									{% else %}
										<span class="col-md text-center"><a class="btn btn-danger" href="{{ url('climber.hasParticipatedCancel', {id: meeting.id, id_climber: climberMeeting.climber.id}) }}">Annuler</a></span>
									{% endif %}
								{% else %}
									<span class="col-md text-center">{{ climberMeeting.climber.email }}</span>
								{% endif %}

								<span class="col-md text-end"><img src="../icons/{{ level[1] | lower }}.png" alt="" height="35"/></span>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>Aucune personne n'est inscrite pour cette Journée Découverte pour le moment.</p>
				{% endif %}
		</div>

		{% if meeting.date < date('now') %}
			<div class="section mb-4">
				<h2>Commentaires</h2>

				{% if isRegistered %}
					{{ form_start(formComment, { attr : { 'class': 'mt-4' } }) }}
						<div class="form-group col-md">
							{{ form_label(formComment.content, 'Contenu du commentaire') }}
							{{ form_widget(formComment.content) }}
						</div>

						<button class="btn btn-primary mt-4">Ajouter</button>
					{{ form_end(formComment) }}
				{% endif %}
				
				{% if meeting.comments|length > 0 %}
					{% if isRegistered %}
						<hr class="solid mb-0">
					{% endif %}

					<ul class="list-group list-group-flush">
						{% for comment in meeting.comments %}
							<li class="list-group-item mt-2">
								<div>
									<div class="d-flex flex-row flex-warp justify-content-between align-items-center">
										<h3>{{ comment.climber.firstname }} {{ comment.climber.lastname }}</h3>
										<p class="mb-0">{{ comment.date|date("d/m/Y H:i:s") }}</p>
									</div>

									<p>{{ comment.content }}</p>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>Il n'y a aucun commentaire pour le moment.</p>
				{% endif %}
			</div>
		{% endif %}

		{# <hr class="solid"> #}
		
	</div>
	
{% endblock %}

{% block javascripts %}
	<script>
		let map = L.map('map', {
			center: [48.862725, 2.287592],
			zoom: 13
		});
		let marker = null;

		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			maxZoom: 18,
			id: 'mapbox/streets-v11',
			tileSize: 512,
			zoomOffset: -1,
			accessToken: 'pk.eyJ1IjoibWF1cmljZTM4IiwiYSI6ImNrd2tzNThpdjBtaDIycHBkajdzNm16Y28ifQ.lW3YvxlsIi497Drh9-_F9g'
		}).addTo(map);

		$.ajax({
			type: 'GET',
			url: 'https://api-adresse.data.gouv.fr/search/?q=' + {{ meeting.location|json_encode()|raw }}.trim().replace(/ /g, '+'),
			dataType: 'json',
			success: function(res) {
				if(res.features[0] != undefined) {
					const coordinates = [res.features[0].geometry.coordinates[1], res.features[0].geometry.coordinates[0]];

					if(marker != null) {
						map.removeLayer(marker);
					}

					map.panTo(coordinates);
					marker = L.marker(coordinates).addTo(map);
				} else {
					alert("La localisation que vous avez saisis n'existe pas.");
				}
			}
		});
	</script>
{% endblock %}