{% set current_path = app.request.get('_route') %}

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
  <div class="container-fluid align-items-baseline">
    <span class="navbar-brand mb-0 h1">Projet Symfony</span>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse flex-row justify-content-between" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link {% if current_path == 'meeting.index' %}active{% endif %}" href="{{ url('meeting.index') }}">Journées découvertes</a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-md-center">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item active">
            <a class="nav-link {% if current_path == 'security.login' %}active{% endif %}" href="{{ url('security.login') }}">Connexion</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link {% if current_path == 'security.register' %}active{% endif %}" href="{{ url('security.register') }}">Inscription</a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link {% if current_path == 'climber.account' %}active{% endif %}" href="{{ url('climber.account') }}">Mon Compte</a>
          </li>
          <li class="nav-item active">
            <a class="btn btn-danger btn-sm" href="{{ url('security.logout') }}">Se Déconnecter</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
